.App {
  text-align: center;
}

input {
  text-transform: uppercase;
}

button {
  margin-left: 10px;
}

.guess {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 2px;
  border: 1px solid #000;
}

.correct {
  background-color: green;
  color: white;
}

.present {
  background-color: yellow;
  color: black;
}

.absent {
  background-color: grey;
  color: white;
}